body {
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;

}
 .icon {
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
  }


li {
    list-style-type: none;
    float: left;


}

.header li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}





.pics img {
    width: 100%;
    height: auto;
    padding: 0px;
}

.pics {
    position: relative;
    margin-bottom: 0px;
}

.para {
    position: absolute;
    background-color: rgba(226, 85, 34, 0.5);
    color: azure;
    height: 140px;
    width: 450px;
    left: 100px;
    top: 100px;
    font-weight: bold;
    padding: 20px;


}

#pop {
    color: white;
    font-weight: bold;
    font-style: italic;
}

.back {
    width: 100%;
    height: auto;
    background-image: linear-gradient(to left, rgb(225, 225, 53), rgb(233, 233, 111), rgb(247, 59, 90));
}



.back h1 {
    text-align: center;
    color: azure;
    text-shadow: 2px 2px 6px gray;
    font-size: 50px;
    padding: 30px;
}

.photos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
    padding: 40px;
}

span {
    display: flex;
    /* flex-direction: row; */
    font-style: italic;
    word-spacing: 1px;
    text-align: center;
    justify-content: center;

}

.box {
    text-align: center;
    border: 19px white solid;
    background-color: white;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;




}

.box span {
    text-align: center;

}

.box img {
    height: 250px;
    width: 250px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;


}

.btn {
    background-color: rgb(243, 211, 151);
    width: 190px;
    border-radius: 27px;
    padding: 18px;
    font-weight: bold;
    font-size: 15px;
    border-style: none;



}



.bot {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 65px;

}

img {
    object-fit: cover;
    object-position: center center;


}

@media only screen and (max-width: 768px) {
    .para {
        height: 100px;
        width: 200px;
        padding: 0px;
        font-size: 7px;
        text-align: center;

    }

    h1 {
        font-size: 14px;

    }

    h2 {
        font-size: 10px;
    }

    li {
        font-size: 12px;
        margin: 4px;
        
        
        
        
    }

    .photos {
        padding: 20px;
        float: 25%;
        flex-wrap: wrap;

    }

    .photos img {
        height: 150px;
        width: 150px;

    }

}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 8px;
        padding: 0px;
    }

    .photos img {
        height: 100px;
        width: 100px;

    }

   .header li {
        font-size: 10px;
        margin: 3px;
        /* float: left; */
    }

    .para {
        height: 50px;
        width: 200px;
        padding: 0px;
        font-size: 7px;
        text-align: center;
        overflow: hidden;

    }

    .box {
        margin: 25px;
    }
}